#wrapper {
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
	position:relative;
}

.msg_fail {
	padding:15px 20px 15px 20px;
	margin:20px 0 20px 0;
	width:900px;
	border:3px solid #CC0000;
	color:#CC0000;
	background-color:#FFF0F0;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.thumbnail{
	overflow: hidden; 
	float: left; 
	width: 100px; 
	height: 60px;"
}


.photos {
    min-height: 70px;
    height: 70px;
}


.big-blue-button-prev{
	float: left;
	background-color: #178DCD; 
	color: #FFFFFF;
	height: 60px;	
	width: 30px;
	min-width: 30px;
	min-height: 60px;	
}

.big-rounded-button-prev{
	-moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -khtml-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
	border:1px solid #333;
	behavior: url(/css/PIE.php);
}


.big-blue-button-next{
	float: left;
	background-color: #178DCD; 
	color: #FFFFFF;
	height: 60px;	
	width: 30px;
	min-width: 30px;
	min-height: 60px;	
}

.big-rounded-button-next{
	-moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -khtml-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
	border:1px solid #333;
	behavior: url(/css/PIE.php);
}


.bigimage{
	overflow: hidden; 
	float: top; 
	width: 480px; 
	height: 320px;"
}

.thumbnail img {
	width: 90px;
	height: 60px;
}

.msg_success {
	padding:15px 20px 15px 20px;
	margin:20px 0 20px 0;
	width:900px;
	border:3px solid #669933;
	color:#669933;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.form-horizontal .control-label {
    text-align: left;
	font-weight:bold;
}

.text-info {
	color:#B11152;	
}

.form-actions {
	border:none;
	background:none;	
}

/* overlay styles */
#overlay-inAbox .wrapper {
	text-align: center;
}

.overlay,#overlay-shade {
	display: none;
}

#overlay-shade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	background-color: #000;
}

.overlay {
	position: absolute;
	top: -300px;
	left: 0;
	width: 850px;
	height: 550px;
	min-height: 500px;
	z-index: 998;
	background-color: #7D7D7D;
	border: 10px solid #CFCFCF;
	color: #fff;
	box-shadow: 0 0 16px #000;
}

.ie7 .overlay {
	height: 600px;
	z-index: 999;
}

.overlay .wrapper {
	z-index: 999;
	padding: 15px 30px 30px;
}

.overlay .toolbar {
	padding: 8px;
	line-height: 1;
	text-align: right;
	overflow: hidden;
}

.overlay .toolbar a.close {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 8px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	line-height: 18px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	color: #ffffff;
	background-color: #178DCD;
}

.overlay .toolbar a.close span {
	color: #ffffff;
}

.overlay .toolbar a.close:hover,.overlay .toolbar a.close:hover span {
	background-color: #b90900;
	color: #fff;
}