body {
	font-family: Verdana;
}

/** conSlider Theme **/

.conSlider {
	display:block;	
}

.conSlider .con-menu {
	clear: both;
    float: left;
	overflow: hidden;
    position: relative !important;
    border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	width:192px;
}

.conSlider .con-menu.right {
	float:right;
	border-radius: 0 5px 5px 0;
}

.conSlider .con-menu ul {
	list-style: none outside none;
    margin: 0;
	padding:0;
	clear: both;
    float: left;
    position: relative !important;
	overflow:hidden;
}

.conSlider .con-menu ul li {
	clear: both;
    float: left;
    margin: 0;
    position: relative;
}

.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a {
	background-color: #f9f9f9;
	*background-color: #efefef;
	background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#efefef));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -o-linear-gradient(top, #f9f9f9, #efefef);
	background-image: linear-gradient(to bottom, #f9f9f9, #efefef);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-right-width: 0;
	border-left-width: 0;
	border-top-width: 0;
    color: #5c5c5c;
    display: block;
    height: 40px;
    margin: 0;
    outline: medium none;
    padding: 14px 10px 14px 10px;
    text-decoration: none;
	width: 172px;
}

.conSlider .con-menu ul li a.btn {
	border-radius: 0px;	
}

.conSlider .con-menu ul li a:hover, .conSlider .con-menu .con-button a:hover {
	background: none;
	background-color: #ffffff;
	*background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: -o-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);
	background-repeat: repeat-x;	
}

.conSlider .con-menu .con-button, .conSlider .con-menu .con-button a {
	border-radius: 5px 0 0 0;
}

.conSlider .con-menu .con-button.last, .conSlider .con-menu .con-button.last a {
	border-radius: 0 0 0 5px;
    border-top: 1px solid #ccc;	
	border-bottom:none;
	position: absolute;
    bottom: 0px;
	text-align:center;	
}

.conSlider .con-menu.right .con-button, .conSlider .con-menu.right .con-button a {
	border-radius: 0 5px 0 0;
}

.conSlider .con-menu.right .con-button.last, .conSlider .con-menu.right .con-button.last a {
	border-radius: 0 0 5px 0;
}

.conSlider .con-menu .con-button a.arrow {
    height: 20px;
	text-align:center;
	font-size: 20px;	
}

.conSlider a.arrow span {
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;	
}

.conSlider .con-menu ul li.active a {
    border-right: none;
	background-color: #efefef;
	*background-color: #E6E6E6;
	background-image: -moz-linear-gradient(top, #efefef, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #efefef, #E6E6E6);
	background-image: -o-linear-gradient(top, #efefef, #E6E6E6);
	background-image: linear-gradient(to bottom, #efefef, #E6E6E6);
	background-repeat: repeat-x;	position: relative;
	z-index: 10;
}

.conSlider .con-menu ul li.active {
    border-right: none;
}

.conSlider .con-container {
	display: block;	
	background-color: #fff;
    border: 1px solid #ccc;
	border-radius:0 5px 5px 0;
	border-left: none;	
    overflow:hidden; /* So the sliding bit doesn't stick out. */
	width: auto;
    margin:0 ;
}

.conSlider .con-container.right {
	border-radius:5px 0 0 5px;
	
    border: 1px solid #ccc;
	border-right: none;
}

.conSlider .con-slides {
	display: inline-block;	
	position: relative;
	height: 100%;
	width:100%;
	overflow:hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;	
}

.conSlider .con-slide {
	display: block;
	background-color: transparent !important;
	float: left;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	opacity: 1;
	width:100%;
	height: 100%;
}

.conSlider .con-load {
	display: block;
	background-color: #FFF;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	opacity: 1;
	height: 100%;
}

.conSlider .con-transparent {
	opacity: 0;
}

/* Media */

/* Smartphones  ----------- 400 */
@media only screen 
and (min-width : 240px) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:10px;
		line-height:9px;
		width: 67px;
	}
	
	.conSlider .con-menu {
		width: 87px;
	}
}

/* Tablets (landscape) ----------- 860 */
/* Desktops and laptops ----------- 1224 */
@media only screen 
and (min-width : 768px)
and (orientation : landscape),
@media only screen 
and (min-width : 1224px) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:15px;
		line-height:12px;
		width: 115px;
	}
	
	.conSlider .con-menu {
		width: 135px;
	}
}

/* Large screens ----------- 1824 */
@media only screen 
and (min-width : 1624px) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:20px;
		line-height:16px;
		width: 172px;
	}
	
	.conSlider .con-menu {
		width: 192px;
	}
}

/* Tablets (portrait) ----------- 860 */
/* iPhone 4 ----------- */
@media only screen 
and (min-width : 600px) 
and (orientation : portrait),
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:12px;
		line-height:9px;
		width: 86px;
	}
	
	.conSlider .con-menu {
		width: 106px;
	}
}

/** Gallery Theme **/

.gallery {
	display:block;	
}

.gallery .con-menu {
	clear: both;
    float: left;
	overflow: hidden;
    position: relative !important;
    border: 1px solid #ccc;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-radius: 0 0 5px 5px;
	width:100%;
	height: 40px;
}

.gallery .con-menu.top {
	border-radius: 5px 5px 0 0;
	border-top-width: 1px;
	border-bottom-width: 0px;
}

.gallery .con-menu ul {
    float: left;
	height: 40px;
}

.gallery .con-menu ul, .gallery .con-menu li, .gallery .con-menu a {
	list-style: none;
	display:inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	vertical-align:middle;
	overflow:hidden;
}

.gallery .con-menu ul li a {
    display: block;
    height: 40px;
    margin: 0;
    text-decoration: none;
	border: none;
	width:60px;
	padding: 0 2px 0 0;
}

.gallery .con-menu .con-button a {
	background-color: #f9f9f9;
	*background-color: #efefef;
	background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#efefef));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -o-linear-gradient(top, #f9f9f9, #efefef);
	background-image: linear-gradient(to bottom, #f9f9f9, #efefef);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-right-width: 0;
	border-left-width: 0;
	border-top-width: 0;
    color: #5c5c5c;
    display: block;
    height: 40px;
    margin: 0;
    outline: medium none;
    padding: 14px 10px 14px 10px;
    text-decoration: none;
	width:60px;
}

.gallery .con-menu ul li a.btn {
	border-radius: 0px;	
}

.gallery .con-menu ul li a:hover, .gallery .con-menu .con-button a:hover {
	background: none;
	background-color: #ffffff;
	*background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: -o-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);
	background-repeat: repeat-x;	
}

.gallery .con-menu .con-button, .gallery .con-menu .con-button a {
	border-radius: 0 0 0 5px;
	float:left;
	text-align:center;
    border: none;
}

.gallery .con-menu .con-button.last, .gallery .con-menu .con-button.last a {
	border-radius: 0 0 5px 0;
	border-bottom:none;
}

.gallery .con-menu .con-button a.arrow {
    height: 40px;
	text-align:center;
	font-size: 20px;	
}

.gallery a.arrow span {
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;	
}

.gallery .con-menu ul li.active a {
    border-right: none;
	background: none;
	position: relative;
	z-index: 10;
}

.gallery .con-menu ul li.active {
    border-right: none;
	background: none;
}

.gallery .con-container {
	display: block;	
	background-color: #fff;
    border: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
	border-bottom-width: 0px;	
	border-top-width: 1px;	
    overflow:hidden; /* So the sliding bit doesn't stick out. */
	width: 100%;
    margin:0 ;
}

.gallery .con-container.top {
	border-radius: 0 0 5px 5px;
	border-bottom-width: 1px;	
	border-top-width: 0px;	
}

.gallery .con-slides {
	display: inline-block;	
	position: relative;
	height: 100%;
	width:100%;
	overflow:hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;	
}

.gallery .con-slide {
	display: block;
	background-color: transparent !important;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	opacity: 1;
	width:100%;
	height: 100%;
	text-align:center;
}

.gallery .con-slide span {
	display: inline-block;
	margin: 0 auto;
	border-radius: 5px 5px 0 0;
	padding: 20px;
	width: auto;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	background-color: #f9f9f9;
	*background-color: #efefef;
	background: -moz-linear-gradient(top, rgba(249,249,249,0.4) 0%, rgba(239,239,239,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,0.4)), color-stop(100%,rgba(239,239,239,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(249,249,249,0.4) 0%,rgba(239,239,239,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(249,249,249,0.4) 0%,rgba(239,239,239,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(249,249,249,0.4) 0%,rgba(239,239,239,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(249,249,249,0.4) 0%,rgba(239,239,239,0.4) 100%); /* W3C */
	background-repeat: repeat-x;	
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	width:100%;
}

.gallery .con-load {
	display: block;
	background-color: #FFF;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	opacity: 1;
	height: 100%;
}

.gallery .con-transparent {
	opacity: 0;
}

/* Media */

/* Smartphones  ----------- 400 */
@media only screen 
and (min-width : 240px) {
	.gallery .con-menu ul li a, .gallery .con-menu .con-button a.arrow {
		font-size:10px;
		line-height:9px;
	}
	
	.gallery .con-slide span {
		padding: 12px;
		height: 12px;
		font-size: 12px;
		line-height: 12px;
	}
}

/* Tablets (landscape) ----------- 860 */
/* Desktops and laptops ----------- 1224 */
@media only screen 
and (min-width : 768px)
and (orientation : landscape),
@media only screen 
and (min-width : 1224px) {
	.gallery .con-menu ul li a, .gallery .con-menu .con-button a.arrow {
		font-size:15px;
		line-height:12px;
	}
	
	.gallery .con-slide span {
		padding: 18px;
		height: 18px;
		font-size: 18px;
		line-height: 18px;
	}
}

/* Large screens ----------- 1824 */
@media only screen 
and (min-width : 1624px) {
	.gallery .con-menu ul li a, .gallery .con-menu .con-button a.arrow {
		font-size:20px;
		line-height:16px;
	}
	
	.gallery .con-slide span {
		padding: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
	}
}

/* Tablets (portrait) ----------- 860 */
/* iPhone 4 ----------- */
@media only screen 
and (min-width : 600px) 
and (orientation : portrait),
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.gallery .con-menu ul li a, .gallery .con-menu .con-button a.arrow {
		font-size:12px;
		line-height:9px;
	}
	
	.gallery .con-slide span {
		padding: 15px;
		height: 15px;
		font-size: 15px;
		line-height: 15px;
	}
}


/** pane Theme **/

.pane {
	display:block;
	width:100%;	
	height:100%;
	overflow: hidden;
}

.pane .con-button a {
	background-color: #f9f9f9;
	*background-color: #efefef;
	background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#efefef));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -o-linear-gradient(top, #f9f9f9, #efefef);
	background-image: linear-gradient(to bottom, #f9f9f9, #efefef);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-right-width: 0;
	border-left-width: 0;
	border-top-width: 0;
    color: #5c5c5c;
    display: block;
    height: 40px;
    margin: 0;
    outline: medium none;
    padding: 14px 10px 14px 10px;
    text-decoration: none;
	width:60px;
}

.pane .con-button a:hover {
	background: none;
	background-color: #ffffff;
	*background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: -o-linear-gradient(top, #ffffff, #f9f9f9);
	background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);
	background-repeat: repeat-x;	
}

.pane .con-button, .pane .con-button a {
	border-radius: 5px 0 0 5px;
	float:left;
	text-align:center;
    border: none;
}

.pane .con-button.last, .pane .con-button.last a {
	border-radius: 0 5px 5px 0;
	border-bottom:none;
}

.pane .con-button a.arrow {
    height: 40px;
	text-align:center;
	font-size: 20px;	
}

.pane a.arrow span {
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;	
}

.pane .con-container {
	float:left;
	display: block;	
	background-color: #fff;
    overflow: hidden; /* So the sliding bit doesn't stick out. */
	width: 100%;
	height:100;
    margin:0 ;
}

.pane .con-slides {
	display: inline-block;	
	position: relative;
	height: 100%;
	width:100%;
	overflow:hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;	
}

.pane .con-slide {
	display: block;
	background-color: transparent !important;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	opacity: 1;
	width:100%;
	height: 100%;
	text-align:center;
}

.pane .con-load {
	display: block;
	background-color: #FFF;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	opacity: 1;
	height: 100%;
}

.pane .con-transparent {
	opacity: 0;
}

/* Media */

/* Smartphones  ----------- 400 */
@media only screen 
and (min-width : 240px) {
	.pane .con-menu ul li a, .pane .con-button a.arrow {
		font-size:10px;
		line-height:9px;
	}
	
	.pane .con-slide span {
		padding: 12px;
		height: 12px;
		font-size: 12px;
		line-height: 12px;
	}
}

/* Tablets (landscape) ----------- 860 */
/* Desktops and laptops ----------- 1224 */
@media only screen 
and (min-width : 768px)
and (orientation : landscape),
@media only screen 
and (min-width : 1224px) {
	.pane .con-menu ul li a, .pane .con-button a.arrow {
		font-size:15px;
		line-height:12px;
	}
	
	.pane .con-slide span {
		padding: 18px;
		height: 18px;
		font-size: 18px;
		line-height: 18px;
	}
}

/* Large screens ----------- 1824 */
@media only screen 
and (min-width : 1624px) {
	.pane .con-menu ul li a, .pane .con-button a.arrow {
		font-size:20px;
		line-height:16px;
	}
	
	.pane .con-slide span {
		padding: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
	}
}

/* Tablets (portrait) ----------- 860 */
/* iPhone 4 ----------- */
@media only screen 
and (min-width : 600px) 
and (orientation : portrait),
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.pane .con-menu ul li a, .pane .con-button a.arrow {
		font-size:12px;
		line-height:9px;
	}
	
	.pane .con-slide span {
		padding: 15px;
		height: 15px;
		font-size: 15px;
		line-height: 15px;
	}
}
