body {
	/* font-family: Gotham; */
	font-family:Arial,Helvetica,sans-serif;
}

/*
full js css
*/
/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #1377B4;
		margin:0;
		padding-top:25px;
	}
	.intro p{
		color: #1377B4;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 60px;
		display:block;
		width: 100%;
		background: #283B7D;
		z-index:9;
		/*text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;*/
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}


	/* Overwriting styles for control arrows for slides
	* --------------------------------------- */
	
	 .controlArrow.prev {
		left: 50px;
	 	color :#1377B4;
	}
	.controlArrow.next{
		right: 50px;
		color :#1377B4;
	}

	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}	

	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}

#section0,#section2,#section4,#section6{
	background: none;
	background-color: #0899d4;
	background-image: -moz-linear-gradient(top, #0899d4, #2a2b6e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0899d4), to(#2a2b6e));
	background-image: -webkit-linear-gradient(top, #0899d4, #2a2b6e);
	background-image: -o-linear-gradient(top, #0899d4, #2a2b6e);
	background-image: linear-gradient(to bottom, #0899d4, #2a2b6e);
	-pie-background: linear-gradient(#0899d4, #2a2b6e);	
	background-repeat: repeat-x;
	text-align: left !important;
	
}

#section1,#section3 {
	text-align: left !important;
}
/*
full js end css
*/


.whitebg {
	 background-color: #fff;
    border-radius: 12px; 
-moz-border-radius: 12px; 
-webkit-border-radius: 12px; 
	padding:5px;
	margin: 15px;
	background-size:cover;
/*border: 4px solid #283B7D;
  color: #283B7D; 
	text-align:center; 
	font-size:1.2em;
    font-weight:bold;	
	width:auto;*/
}

#headerbg {
	background-image:url(../images/header-img.png);
	background-repeat:no-repeat;
	background-position:right top;
	background-size:100% 100%;	
}

.minwidth200 {
	min-width : 200px;
}
.minwidth120 {
	min-width : 120px;
}
.minwidth80 {
	min-width : 80px;
}
.container{
	width:100%;
	margin:0px;
	padding:0px;
}

.no-top-margin,.con-slide h3 {
	margin-top : 0px !important;
}

.table {
  margin-bottom: 0px;
}


/* #section0 .fp-tableCell .container,#section1 {
	height:100% !important;
} */
/* #section0 .fp-tableCell .container .row{
	height:100% !important;
} */
/* #section0 .fp-tableCell .container .row .col-xs-4{
	height:100% !important;
}
#section0 .fp-tableCell .container .row .col-sm-4{
	height:100% !important;
}
#section0 .fp-tableCell .container .row .col-md-4{
	height:100% !important;
}
#section0 .fp-tableCell .container .row .col-lg-4{
	height:100% !important;
}
#section0 .fp-tableCell .container .row{
	position:relative;	}

#section0 .fp-tableCell {
	display:inline-block !important;
	
}
 */
.logo {
	width:100%;
	padding:0px 5px 0 5px;
	margin-left:0%;
}


.pricebadge div{
   
	color:#283B7D;
	font-family:gotham;
	font-weight:bold;
	margin: 0;	
	position:absolute;	
	padding:0;
	right:0px;	
	width:100%;
	z-index:1000;
	text-align:center;
}

.pricebadge img,.approvedbg img{
    height: auto;
    position: relative;
    z-index: 1;
}
.approved {
	padding-top:1%;
}

.btn-custom {
 background-color: #FCF1BB;
    border-radius: 12px; 
-moz-border-radius: 12px; 
-webkit-border-radius: 12px; 
border: 4px solid #283B7D;
  color: #283B7D; 
	text-align:center; 
    font-weight:bold;	
	width:auto;
}
.btn-custom:visited,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #0F8CC8;
    border-radius: 12px; 
-moz-border-radius: 12px; 
-webkit-border-radius: 12px; 
border: 4px solid #283B7D;
}

    
.pricefont {
	color:#283B7D;
	font-family:gotham;
	font-weight:bold;	
}

.paddleft25 {
	padding-left :25px;
}

.wel-txt-div {
	display:inline-block;position:relative;
}

.minwidth0 {
	min-width : 0;
}

.yellowfont,.yellowfont a,.yellowfont a:hover {
	color:#FCF1BB;
}



.red {
	color:red;
}

.bluefont {
	color:#283B7D;
}

.bluefontgotham {
	color:#283B7D;
	font-family:gotham;
}

.lbluefont {
	color:#1377B4;
}

.whitefontgotham {
	color:#fff;
	font-family:GothamRounded-Bold;
	text-shadow: 0 1px 0 #000000;
}

.whitefont {
	color:#fff;
	text-shadow: 0 1px 0 #000000;
}

.minwidth220 {
	min-width :220px;
}
.nav {
	padding: 10px 0px 10px 20px;
}
#fp-nav span, .fp-slidesNavspan {
	border : 1px solid #1377b4 !important;
}

#section0,#section6{
	padding-top:60px !important;
}
#section2{
	padding-top:50px;
}
#section4{
	padding-top:55px;
}

#section1,#section3,#section5{
	padding-top:30px !important;
}

/* Header menu */
#header.stickyNav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#headerContent {
    margin: 0 auto;
    position: relative;
    width: 98%;
}
#menu-icon {
	background-image:url(../images/menu.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100% 100%;	
	height:30px;
	width:30px;
}
@media all and (max-width : 694px) {
/*Nav*/
	#menu-icon {
		float: right;
	}
	#menu-icon:before {
		content: "";
		color: #FFFFFF;
		font-size: 2.2em;
	    line-height: 44px;
	    text-align: center;
	}
	
		
	 nav ul, nav:active ul { 
	   /*color: #FFFFFF;*/
		display: none;
		position: absolute;
	 	background: none repeat scroll 0 0 #283B7D;
		right: 0;
		top: 25px;
		width: 40%;
	}
	nav li {
	   text-align: center;
		right:12px;
		width: 100%;
	}
	#headerContent nav ul li a {
		/*color: #FFFFFF;*/
	    height: 45px;
	    width: 100%;
	}
	nav:hover ul {
	    display: block;
	} 
}
/* Header menu end*/

/*video*/
.video-container {
    position: relative;
    padding-bottom: 66%;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 77%;
}
.rmg_bullet {
	background-image:url(../images/house_bullet.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-bottom:7px;
	margin-top:30px;	
	margin-bottom:15px;	
	padding-left:27px;
	font-family:gotham;
	text-decoration:none;
	color:	#283B7D;
}
.border-row {
    border-bottom: 1px solid #ccc;
}
.greytxt {
	color:#666;
}
.greyfont {
	color:#666;
}
label {
	font-weight:normal;
}
.alert {
	padding-left:40px;
}
.paddlrb15 {
	padding:0px 15px 15px 15px;
}
ul.squareul {
    list-style-type: none;
}
ul.squareul li:before{	
	background: none repeat scroll 0 0 #117ab8;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.55) inset;
    content: "";
    display: block;
    height: 6px;
    margin: 7px 0 0 -20px;
    padding-bottom: 6px;
    position: absolute;
    vertical-align: top;
    width: 6px;
    *background-color: #117AB8;

     -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.55);
    -o-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.55);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.55);
		
}
.padleft15 {
	padding-left:15px;
}
.padleft5 {
	padding-left:5px;
}

/*** conslider ****/

.conSlider .con-menu .con-button a {
 /* width: 190px;	 */
}

.conSlider .con-menu ul li a {	
	padding-left:5px;
	height:80px;
	/* width: 190px;*/
 }
.conSlider .con-menu .con-button a.arrow {
	height:40px;
	/*width: 190px;*/
}
.conSlider .con-menu ul li a span .bluefontgotham{
	    white-space: normal;
}
.conSlider {
	
    width:100%	
}
.body-conslider {
	position:absolute;
	display:block;
    padding: 50px 20px 20px 20px;
    overflow: hidden;
    width: 100%;
	height:calc(100% - 50px);
	box-sizing:border-box;
}
.gallery-conslider {
	position:absolute;
	display:block;
    padding: 50px 20px 20px 20px;
    overflow: hidden;
    width: 100%;
	height:calc(100% - 60px);
	box-sizing:border-box;
}


#gallery_slider  .con-menu ul li a span {
	padding :0px;
}

.conSlider .con-menu ul li.active a {
	 background: -webkit-linear-gradient(#1377B4, #283B7D);
    background: -o-linear-gradient(#1377B4, #283B7D);
    background: -moz-linear-gradient(#1377B4, #283B7D); 
    background: linear-gradient(#1377B4, #283B7D); 
	font-family:gotham;
}
.conSlider .con-menu ul li.active a .bluefontgotham {
	color: #fff;
} 
/*** conslider end****/

.fp-tooltip {
	color : #000 !important;
}
/* #contact {
	overflow:scroll;
} */
.gradientbg{
	background: none;
	background-color: #CCFFFF;
	background-image: -moz-linear-gradient(top, #CCFFFF, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCFFFF), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #CCFFFF, #ffffff);
	background-image: -o-linear-gradient(top, #CCFFFF, #ffffff);
	background-image: linear-gradient(to bottom, #CCFFFF, #ffffff);
	-pie-background: linear-gradient(#CCFFFF, #ffffff);	
	background-repeat: repeat-x;
	text-align: left !important;
}

/*** conslider media **/



/** font size media */
@media (max-width: 480px) {
	.fontxxl {
	    	font-size: 3.2em;
		}
	.fontxl {
			font-size: 1.2em;
		}
	.pricelg {
    	font-size: 1em;	
	}
	.fontlg {
    	font-size: 0.9em;
	}
	.fontbg {
    	font-size: 1.2em;	
		font-weight:bold;		
	}
	.fontmd {
		font-size: 0.8em;	
	}
	.fontsm {
		font-size: 0.5em;	
	}
	
}


@media (min-width: 768px) {
	.fontxxl {
		    	font-size: 3.3em;
			}
	.fontxl {
			font-size: 1.3em;
		}
	.fontlg {
	    	font-size: 1.0em;
		}
	.fontbg {
    	font-size: 1.7em;	
		font-weight:bold;		
	}
	.fontmd {
		font-size: 0.9em;	
	}
	.fontsm {
			font-size: 0.9em;	
		}

}

@media (min-width: 992px) {
	.fontxxl {
	    	font-size: 3.4em;
		}
	.fontxl {
			font-size: 1.4em;
		}
	.fontlg {
	    	font-size: 1.1em;
		}
	.fontbg {
    	font-size: 1.8em;
		font-weight:bold;		
	}
	.fontmd {
		font-size: 1em;	
	}
	.fontsm {
				font-size: 1.0em;	
			}
}

@media (min-width: 1200px) {
	.fontxxl {
	    	font-size: 3.5em;
		}
	.fontxl {
		font-size: 1.5em;
	}
	.fontlg {
    	font-size: 1.2em;
	}
	.fontbg {
    	font-size: 1.9em;	
		font-weight:bold;	
	}
	.fontmd {
		font-size: 1.1em;	
	}
.fontsm {
				font-size: 1.1em;	
			}
}

@media (min-width: 1900px) {
	.fontxxl {
	    	font-size: 3.6em;
		}
	.fontxl {
    	font-size: 1.6em;
	}
	.fontlg {
    	font-size: 1.3em;
	}
	.fontbg {
    	font-size: 2em;	
		font-weight:bold;	
	}
	.fontmd {
		font-size: 1.2em;	
	}
	.fontsm {
				font-size: 1.2em;	
			}
}


/* Media */

/* Smartphones  ----------- 400 */
@media only screen 
and (min-width : 240px) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:10px;
		line-height:9px;
		width: 100px;
	}
	
	.conSlider .con-menu {
		width: 100px;
	}
}

/* Tablets (landscape) ----------- 860 */
/* Desktops and laptops ----------- 1224 */
@media only screen 
and (min-width : 768px)
and (orientation : landscape),
@media only screen 
and (min-width : 1224px) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:15px;
		line-height:12px;
		width: 190px;
	}
	
	.conSlider .con-menu {
		width: 190px;
	}
}

/* Large screens ----------- 1824 */
@media only screen 
and (min-width : 1624px) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:20px;
		line-height:16px;
		width: 247px;
	}
	
	.conSlider .con-menu {
		width: 247px;
	}
}

/* Tablets (portrait) ----------- 860 */
/* iPhone 4 ----------- */
@media only screen 
and (min-width : 600px) 
and (orientation : portrait),
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.conSlider .con-menu ul li a, .conSlider .con-menu .con-button a.arrow {
		font-size:12px;
		line-height:9px;
		width: 185px;
	}
	
	.conSlider .con-menu {
		width: 186px;
	}
}



