.col-xs-1 {
	width:5% !important;
}
#bg {
  position: inherit; 
  top: -100%; 
  left: -100%; 
  width: 400%; 
  height: 400%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;
}
#headerbg {
	background-image:none;
}
