
.table > tfoot > tr > td > input.form-control {
	width: 100%;
	box-sizing: border-box;
}

/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
@media
only screen and (max-width: 768px)  {

	/* Force table to not be like tables anymore */
	.table, .table thead, .table tbody, .table tfoot, .table th, .table td, .table tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table tr { border: 1px solid #ccc; }

	.table table.dataTable td, .table > tbody > tr > td, .table.dataTable td, .table > tfoot > tr > td {
		display: block;
	}

	.table table.dataTable td.text-right, .table > tbody > tr > td.text-right, .table.dataTable td.text-right, .table > tfoot > tr > td.text-right {
		text-align: left;
	}

	.table td:before {
		content: attr(data-th);
		font-weight: bold;
		display: block;
	}

	div.dataTables_length, div.dataTables_filter {
		text-align: left;
	}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 359px) {

	div.dataTables_filter label input.input-sm {
		width: 45%;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 360px)
and (max-device-width : 480px) {

	div.dataTables_filter label input.input-sm {
		width: 55%;
	}
}